// color
$primary: #e8a36c;
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
.primary-bg {
  background-color: $primary;
}
.wh-100 {
  display: block;
  width: 100%;
  height: 100%;
}
